<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> 资产扫描&搜索引擎 </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body class="d-flex flex-column h-100">

<!--nva-->
<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

        <img src="/static/favicon.ico" class="img-fluid mr-md-3">

        <h5 class="my-0 mr-md-auto font-weight-normal">
            <a class="p-2 text-reset" href="{{ url('home') }}">资产扫描 & 搜索引擎</a>
        </h5>

        <nav class="my-2 my-md-2 mr-md-3">
            <a class="p-2 text-dark" href="{{ url('home') }}">资产搜索</a>
            <a class="p-2 text-dark" href="{{ url('dashboard') }}">任务管理</a>
            <a class="p-2 text-dark" href="{{ url('finger') }}">指纹管理</a>
            <a class="p-2 text-dark" href="{{ url('configuration') }}">认证配置</a>
            <a class="p-2 text-dark" href="{{ url('faq') }}">帮助</a>
        </nav>

    </div>
</header>

<!--content-->
<main role="main" class="flex-shrink-0">
    <div class="container pt-md-4">
        {% block content %}
        <div></div>
        {% endblock %}
    </div>
</main>

<!--footer-->
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Property Scanner & Search Engine</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/sweet.js"></script>
<!--<script src="/static/js/vendor.bundle.base.js"></script>-->
<script src="/static/js/my.js"></script>
</body>
</html>
